/* 우리 동네 안전이 궁금하다면, */
/* .main_first {
  font-size: 40px;
  color: rgb(55, 55, 55);
} */

/* MyTownSecurity */
/* .main_second {
  font-size: 50px;
  margin-bottom: 5px;
} */

/* 주소를 검색하고 여러분의 의견을 공유해주세요 */
/* .main_third {
  font-size: 30px;
  color: rgb(55, 55, 55);
} */
